* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  position: fixed;
  width: 100%;
  height: 200px;
  display: flex;
  background-color: blanchedalmond;
  align-items: center;
  justify-content: center;
}

.login {
  padding-top: 200px;
}

.single-article-page {
  padding-top: 200px;
}

.article-cards-container {
  padding-top: 240px;
}

.article-filter-and-sort {
  margin-top: 200px;
  width: 100%;
  background-color: rgb(240, 105, 105);
  position: fixed;
  height: 40px;
}

ul {
  list-style-type: none;
}

.logged-in-users-article-card {
  width: 800px;
  display: grid;
  grid-template-columns: 6fr 1fr;
  border: black 2px solid;
  margin: 3px;
  background-color: coral;
}

.article-card {
  width: 800px;
  display: grid;
  grid-template-columns: 6fr 1fr;
  border: black 2px solid;
  margin: 3px;
}

.article-card-author-container {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  display: flex;
}

.article-card-author-img {
  width: 40px;
}

.article-card-topic {
  grid-row: 2 / span 1;
}

.article-card-title {
  grid-row: 3 / span 1;
}

.article-card-voter-container {
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  background-color: blanchedalmond;
  align-items: center;
}

.logged-in-users-comment-card {
  background-color: rgb(135, 222, 147);
  border: black solid 1px;
  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.comment-card {
  background-color: burlywood;
  border: black solid 1px;
  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.comment-posted {
  grid-column: 1 / span 2;
}

.comment-body {
  grid-column: 1 / span 2;
}

.comment-votes-container {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: cadetblue;
}

.number-of-comment-votes {
  grid-row: 1 / span 2;
}

#header-avatar {
  height: 80px;
}
