* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  position: fixed;
  width: 100%;
  height: 110px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: rgb(255, 152, 68);
  align-items: center;
}

#ES-News {
  padding: 10px;
  padding-left: 25px;
  font-size: 30pt;
}

#ES-News:hover {
  color: whitesmoke;
}

#header-login {
  position: relative;
  right: 50px;
  text-align: right;
  color: rgb(32, 32, 32);
  font-size: 16pt;
}

#header-login:hover {
  color: whitesmoke;
}

a:link {
  text-decoration: none;
  color: rgb(32, 32, 32);
}

a:visited {
  text-decoration: none;
  color: rgb(32, 32, 32);
}

#header-rhs {
  margin: 5px;
  right: 5px;
  position: fixed;
  display: grid;
  grid-template-rows: 20px 60px 20px;
  width: 160px;
}

#header-avatar {
  height: 60px;
  margin-left: 50px;
  border-radius: 50%;
}

#header-greeting {
  text-align: center;
}
#header-log-out {
  text-align: center;
}
#header-log-out:hover {
  text-align: center;
  color: whitesmoke;
  cursor: pointer;
}

main {
  padding-top: 110px;
}

.article-filter-and-sort {
  width: 100%;
  background-color: rgb(32, 32, 32);
  height: 40px;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 14pt;
}

.article-filter-item {
  border: 1px solid black;
  padding: 5px;
}

ul {
  list-style-type: none;
}

.logged-in-users-article-card {
  width: 800px;
  display: grid;
  grid-template-columns: 6fr 1fr;
  border: black 2px solid;
  margin: 3px;
  background-color: coral;
}

.article-card {
  width: 800px;
  display: grid;
  grid-template-columns: 6fr 1fr;
  border: black 2px solid;
  margin: 3px;
}

.article-card-author-container {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  display: flex;
}

.article-card-author-img {
  width: 40px;
}

.article-card-topic {
  grid-row: 2 / span 1;
}

.article-card-title {
  grid-row: 3 / span 1;
}

.article-card-voter-container {
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  background-color: blanchedalmond;
  align-items: center;
}

.logged-in-users-comment-card {
  background-color: rgb(135, 222, 147);
  border: black solid 1px;
  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.comment-card {
  background-color: burlywood;
  border: black solid 1px;
  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.comment-posted {
  grid-column: 1 / span 2;
}

.comment-body {
  grid-column: 1 / span 2;
}

.comment-votes-container {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: cadetblue;
}

.number-of-comment-votes {
  grid-row: 1 / span 2;
}
