* {
  margin: 0px;
  padding: 0px;
  transition: color 0.5s ease;
  color: #292f36;
  font-family: 'Nunito', sans-serif;
}

select {
  border-radius: 1px;
  font-size: 10pt;
}

body {
  background-color: #f7fff7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  position: fixed;
  width: 100%;
  height: 110px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #ff6b6b;
  align-items: center;
  border-bottom: #292f36 solid 2px;
}

#ES-News {
  padding: 10px;
  padding-left: 25px;
  font-size: 30pt;
}

#ES-News:hover {
  color: #f7fff7;
}

#header-login {
  position: relative;
  right: 50px;
  text-align: right;
  color: #292f36;
  font-size: 16pt;
}

#header-login:hover {
  color: #f7fff7;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.link:link {
  text-decoration: none;
  color: #292f36;
}

.link:visited {
  text-decoration: none;
  color: #292f36;
}

.link:hover {
  color: #ff6b6b;
}

.header-rhs {
  margin: 5px;
  right: 5px;
  position: fixed;
  display: grid;
  grid-template-rows: 20px 60px 20px;
  width: 160px;
}

#header-avatar {
  height: 60px;
  margin-left: 50px;
  border-radius: 50%;
  border: #292f36 solid 1px;
}

.header-greeting {
  text-align: center;
}
#header-log-out {
  text-align: center;
}

#header-log-out:hover {
  text-align: center;
  color: #f7fff7;
  cursor: pointer;
}

.header-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-login {
  text-align: center;
}

main {
  padding-top: 110px;
  background-color: #f7fff7;
}

.article-filter-and-sort {
  width: 100%;
  background-color: #f7fff7;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7fff7;
  font-size: 14pt;
}

.article-filter-item {
  padding: 5px;
}

.post-article-topic-select-container {
  display: flex;
}

.topic-description {
  padding-left: 10px;
  font-size: 12pt;
  color: #292f36;
}

#login-to-post-article,
.post-article-container {
  display: flex;
  justify-content: center;
  background-color: #4ecdc4;
  padding: 5px;
  border-bottom: #292f36 solid 2px;
  border-top: #292f36 solid 2px;
  width: 100%;
}

#login-to-post-article:hover,
.post-article-button:hover {
  text-align: center;
  color: #f7fff7;
  cursor: pointer;
}

.article-adder {
  display: grid;
  flex-direction: column;
  background-color: #f7fff7;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border-bottom: #292f36 solid 2px;
}

.post-article-label-text {
  width: 120px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.post-article-topic-select {
  width: 150px;
  background-color: inherit;
}

.post-article-title {
  font-size: 16pt;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: #292f36 1px solid;
  background-color: inherit;
  transition: width 0.5s ease;
}

.post-article-body {
  font-size: 12pt;
  height: 20px;
  width: 100%;
  border: none;
  border-bottom: #292f36 1px solid;
  background-color: inherit;
  transition: height 0.5s ease;
}

.post-article-body:focus {
  height: 260px;
  transition: height 0.5s ease;
  border: #292f36 1px solid;
}

.submit-article-container {
  display: flex;
  flex-direction: row-reverse;
}

.submit-article {
  margin-top: 5px;
}

.vote-button-up,
.vote-button-down {
  width: 20px;
  border: none;
  color: inherit;
  background-color: inherit;
  font-size: 12pt;
  font-weight: bold;
  transition: none;
  cursor: pointer;
}

.vote-button-up:hover {
  color: #4ecdc4;
  transition: none;
}

.vote-button-up:disabled {
  color: #9de4df;
  transition: none;
}

.vote-button-down:hover {
  color: #ff6b6b;
  transition: none;
}

.vote-button-down:disabled {
  color: rgb(247, 178, 178);
  transition: none;
}

.articles-page {
  background-color: #ffe66d;
}

.article-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
}

.article-card {
  width: 85%;
  border: #292f36 2px solid;
  border-radius: 5px;
  background-color: #f7fff7;
  display: grid;
  grid-template-columns: auto 60px;
  grid-template-rows: 60 auto auto auto;
  padding: 10px;
  margin: 5px;
}

.delete-article-container {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-card-author-container {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  display: grid;
  grid-template-columns: 65px auto;
  grid-template-rows: 1fr 1fr;
}

.article-card-author-container p {
  text-justify: auto;
}

.article-card-author-img {
  height: 60px;
  border-radius: 50%;
  border: #292f36 solid 1px;
  grid-row: 1 / span 2;
}

.article-card-votes-container {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  align-items: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-card-posted-on,
.article-card-posted-by {
  padding-top: 6px;
}

.article-card-topic {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: left;
}

#article-author {
  padding-left: 5px;
}

.article-card-comments {
  text-align: center;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

#voter {
  display: grid;
  justify-content: center;
  text-align: center;
}

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.pagination-text {
  margin-right: 10px;
  margin-left: 10px;
}

.login {
  padding-top: 200px;
  background-color: #f7fff7;
  height: 90vh;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 200px 20px auto;
  align-items: center;
  justify-content: center;
}

.already-logged-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-text {
  padding: 10px;
}

#go-to-artciles-button,
#log-out-button {
  margin: 10px;
}

#login-avatar {
  border-radius: 50%;
  border: #292f36 solid 2px;
  margin: 10px;
  width: 200px;
}

.login-form {
  height: 20%;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

#username-input-label {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.username-input {
  margin-bottom: 20px;
  background-color: inherit;
  border: none;
  border-bottom: #292f36 1.25px solid;
  height: 30px;
  width: 300px;
  font-size: 12pt;
  transition: width 0.5s ease;
}

.login-form-button-container {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#username-not-recognised-container {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  position: relative;
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader {
  width: 100px;
}

.single-article-page {
  display: grid;
  grid-template-columns: auto auto;
}

.article-title {
  grid-column: 1 / span 2;
  text-align: center;
  font-size: 22pt;
  padding: 20px;
}

.SA-voter-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  margin: 20px;
}

.article-header {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-author {
  font-size: 14pt;
  display: flex;
}

.article-posted-on {
  font-size: 10pt;
}

.article-header-container {
  display: flex;
}

.article-from {
  display: flex;
}

.article-body {
  grid-column: 1 / span 2;
  padding: 20px;
}

.show-hide-comments {
  background-color: inherit;
  width: 100%;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4ecdc4;
  padding: 5px;
  border-bottom: #292f36 solid 2px;
  border-top: #292f36 solid 2px;
}

.show-hide-comments-button {
  background-color: inherit;
  font-size: 12pt;
  border: none;
  cursor: pointer;
}

.show-hide-comments-button:hover {
  color: #f7fff7;
}

.comments-page {
  background-color: #ffe66d;
  grid-column: 1 / span 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-card {
  border: #292f36 solid 2px;
  border-radius: 5px;
  width: 90%;
  background-color: #f7fff7;
  display: grid;
  grid-template-columns: auto 70px;
  grid-template-rows: 60 auto auto;
  padding: 10px;
  margin: 5px;
}

.delete-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2 / span 1;
  grid-row: 3 / span 2;
}

.cc-voter-container {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  align-content: center;
}

.comment-posted {
  font-weight: bold;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.comment-posted p {
  padding-left: 4px;
  padding-right: 4px;
}

.comment-body {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.number-of-comment-votes {
  grid-row: 1 / span 2;
}

.comment-form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.comment-from label {
  display: flex;
  flex-direction: column;
}

.comment-body-input {
  font-size: 12pt;
  height: 40px;
  width: 100%;
  border: #292f36 1px solid;
  border-radius: 2px;
  background-color: #f7fff7;
  transition: height 0.5s ease;
}

.comment-body-input:focus {
  height: 260px;
  transition: height 0.5s ease;
  border: #292f36 1px solid;
}

.post-comment-button-container {
  display: flex;
  justify-content: flex-end;
}

.button,
.delete-button {
  width: 120px;
  font-size: 11pt;
  border-radius: 2px;
  background-color: #4ecdc4;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  border: #292f36 solid 1px;
}

.delete-button {
  width: 60px;
}

.button:hover,
.delete-button:hover {
  background-color: #ff6b6b;
  transition: background-color 0.4s ease;
}

.button:disabled {
  background-color: inherit;
  color: #97989b;
  border: #97989b solid 1px;
}

.user-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  padding-top: 20px;
  margin: 10px;
}

#user-page-avatar {
  border-radius: 50%;
  border: #292f36 solid 2px;
  margin: 10px;
  width: 200px;
}

.user-page-article-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.error-page {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .article-filter-and-sort {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #ES-News {
    padding: 10px;
    padding-left: 22px;
    font-size: 24pt;
  }
  #header-login {
    right: 22px;
  }
  .header-rhs {
    width: 100px;
  }
  #header-avatar {
    height: 60px;
    margin-left: 20px;
    border-radius: 50%;
  }
  .article-adder {
    padding: 20px;
    padding-left: none;
    padding-right: none;
  }
  .topic-description {
    display: none;
  }
  .article-card-author-img {
    display: none;
  }
  .article-card {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .article-card-author-container {
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
  }

  .article-card-votes-container {
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
  }

  .article-card-posted-on {
    text-align: right;
  }

  .article-card-posted-by {
    text-align: left;
  }

  .article-card-topic {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
  }

  .article-card-title {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    font-size: 15pt;
  }

  .article-card-comments-container {
    grid-row: 3 / span 1;
    grid-column: 3 / 5;
  }

  .delete-article-container {
    grid-row: 4 / span 1;
    grid-column: 1 / span 4;
  }

  .pagination {
    width: 100%;
  }

  .pagination button {
    font-size: 9pt;
    width: 60px;
  }

  .pagination-text {
    font-size: 12pt;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
  }

  .comment-card {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }

  .comment-posted {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    margin-bottom: 10px;
  }

  .article-card-title {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 14pt;
  }

  .cc-voter-container {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .delete-comment {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
  }

  .votes-header {
    display: none;
  }

  .header-login-container button {
    width: 70px;
  }
}

/* 
292f36 gunmetal
4ecdc4 medium turq
f7fff7 mint cream
ff6b6b pastel red
ffe66d maize
*/
